{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"
               onClick="this.disabled=true; this.value='Création du message en cours…'; this.form.submit();" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('comment_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
