{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ comment.message }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if comment.datecreation %}{{ comment.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{% if comment.dateupdate %}{{ comment.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
