{% extends 'base.html.twig' %}

{% block title %}
    Liste des personnages de {{ nickname }}
{% endblock %}



{% block body %}
<div class="row app-character-list-detail">
    {% for character in characters %}
        {# GET CHARACTER ROLE FOR IMAGE AND COLOR #}
        {% if character.characterfavouriteroleid.id == 1 %}
            {% set role = 'tank' %}
            {% set color = 'aqua' %}
        {% elseif character.characterfavouriteroleid.id == 2 %}
            {% set role = 'heal' %}
            {% set color = 'green' %}
        {% else %}
            {% set role = 'dps' %}
            {% set color = 'red' %}
        {% endif %}

        {# GET CHARACTER RACE FOR IMAGE #}
        {% if character.sexe == true %}
            {% if character.raceid.id == 1 %}
                {% set race = "human" %}
            {% elseif character.raceid.id == 2 %}
                {% set race = "dwarf" %}
            {% elseif character.raceid.id == 3 %}
                {% set race = "gnom" %}
            {% else %}
                {% set race = "elf" %}
            {% endif %}
        {% else %}
            {% if character.raceid.id == 1 %}
                {% set race = "humanette" %}
            {% elseif character.raceid.id == 2 %}
                {% set race = "dwarfette" %}
            {% elseif character.raceid.id == 3 %}
                {% set race = "gnomette" %}
            {% else %}
                {% set race = "elfette" %}
            {% endif %}
        {% endif %}


        {# GET CHARACTER CLASS FOR IMAGE #}
        {% if character.classid.id == 1 %}
            {% set classe = "warrior" %}
        {% elseif character.classid.id == 2 %}
            {% set classe = "rogue" %}
        {% elseif character.classid.id == 3 %}
            {% set classe = "paladin" %}
        {% elseif character.classid.id == 4 %}
            {% set classe = "hunt" %}
        {% elseif character.classid.id == 5 %}
            {% set classe = "mage" %}
        {% elseif character.classid.id == 6 %}
            {% set classe = "demoniste" %}
        {% elseif character.classid.id == 7 %}
            {% set classe = "priest" %}
        {% else %}
            {% set classe = "drood" %}
        {% endif %}

        <div class="col-md-4 col-sm-12">
                <div class="box box-widget widget-user">

                    <div class="widget-user-header form-app bg-{{ color }}">
                        <!-- /.widget-user-image -->
                        <div class="box-tools pull-right">

                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle app-character-list-detail" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('usercharacter_edit', { 'id': character.id }) }}">Mettre à jour</a></li>
                                    <li>
                                        <a href="{{ path('usercharacter_delete', { 'id': character.id }) }}">Suppression</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <h3 class="widget-user-username">
                            <img class="img-circle" src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}" alt="classe-personnage">
                                {{ character.charactername }}
                                {% if character.main == true %}
                                     (Main)
                                {% endif %}
                        </h3>
                        <h5 class="widget-user-desc form-app-mini role-title-character-detail">{{ role }} <img class="img-form" src="{{ asset('img/roles/' ~ role ~ '.png') }}" alt="role-personnage"></h5>
                    </div>

                    <div class="widget-user-image">
                        <img class="img-circle" src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}" alt="race-personnage">
                    </div>
                    <div class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li>
                                <span class="form-app-character-detail-field-title" href="#">
                                    Niveau : <span class="pull-right badge bg-{{ color }}">{{ character.level }}</span>
                                </span>
                            </li>
                            <li>
                                <span class="form-app-character-detail-field-title" href="#">Métiers du personnage :
                                    <br />
                                    <span class="form-app-character-textarea">
                                        {{ character.job }}
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="form-app-character-detail-field-title" href="#">[RP] Histoire du personnage :
                                    <br />
                                    <span class="form-app-character-textarea">
                                        {{ character.history }}
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="form-app-character-detail-field-title" href="#">
                                    Date de modification : <span class="pull-right badge bg-{{ color }}">{{ character.dateupdate|date('d/m/Y H:i') }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->
        </div>
    {% endfor %}
</div>
{% endblock %}