{% extends 'base.html.twig' %}

{% block body %}
    <h1>Characters list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sexe</th>
                <th>Main</th>
                <th>Dateupdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td><a href="{{ path('usercharacter_show', { 'id': character.id }) }}">{{ character.id }}</a></td>
                <td>{% if character.sexe %}Yes{% else %}No{% endif %}</td>
                <td>{% if character.main %}Yes{% else %}No{% endif %}</td>
                <td>{% if character.dateupdate %}{{ character.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usercharacter_show', { 'id': character.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usercharacter_edit', { 'id': character.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usercharacter_new') }}">Create a new character</a>
        </li>
    </ul>
{% endblock %}
