{% extends 'base.html.twig' %}
{% if (nocharacter is defined) and (nocharacter == true) %}
    {% set print_menu = 0 %}
{% endif %}

{% block title %}
    Création d'un personnage
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box box-danger form-app">
                <div class="box-header with-border" style="text-align: center;">
                    <h3 class="box-title">
                        Champs obligatoires
                    </h3>
                </div>

                <form action="{{ path('usercharacter_new') }}" method="POST">
                    <div class="form-group" id="fos_user_registration_form">
                        {{ form_widget(form.charactername, { 'attr': {'class': 'form-control', 'placeholder': "Nom du personnage" } }) }}
                        <div class="alert-danger">{{ form_errors(form.charactername) }}</div>

                        {{ form_widget(form.level, { 'attr': {'class': 'form-control', 'placeholder': "Niveau du personnage" } }) }}
                        <div class="alert-danger">{{ form_errors(form.level) }}</div>

                        <div class="form-app-radio-input">
                            <div class="form-app-label">{{ form.sexe.vars.label }}</div>
                            {{ form_widget(form.sexe, { 'attr': {'class': 'app-form-radio-selector' } }) }}
                            <div class="alert-danger">{{ form_errors(form.sexe) }}</div>
                        </div>

                        {% if form.main is defined %}
                            <div class="form-app-radio-input">
                                <div class="form-app-label">{{ form.main.vars.label }}</div>
                                {{ form_widget(form.main, { 'attr': {'class': 'app-form-radio-selector' } }) }}
                                <div class="alert-danger">{{ form_errors(form.main) }}</div>
                            </div>
                        {% endif %}

                        {# TODO CONDTION BY SEXE VALUE - JS ? #}
                        {# RACE #}
                        <div class="form-app-radio-input" id="form-app-race">
                            <div class="form-app-label">{{ form.raceid.vars.label }}</div>
                            {% for key, raceidItem in form.raceid.children %}
                                {% if raceidItem.vars.value == 1 %}
                                    {% set race = "human" %}
                                {% elseif raceidItem.vars.value == 2 %}
                                    {% set race = "dwarf" %}
                                {% elseif raceidItem.vars.value == 3 %}
                                    {% set race = "gnom" %}
                                {% else %}
                                    {% set race = "elf" %}
                                {% endif %}

                                {{ form_widget(raceidItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': raceidItem.vars.value } }) }}
                                <label for="appbundle_usercharacter_raceid_{{ raceidItem.vars.value }}" class="label_item"> <img class="img-form" src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}"> </label>
                            {% endfor %}
                            <div class="alert-danger">{{ form_errors(form.raceid) }}</div>
                        </div>

                        {# CLASSE #}
                        <div class="form-app-radio-input" id="form-app-classe">
                            <div class="form-app-label">{{ form.classid.vars.label }}</div>
                            {% for key, classidItem in form.classid.children %}
                                {% if classidItem.vars.value == 1 %}
                                    {% set classe = "warrior" %}
                                {% elseif classidItem.vars.value == 2 %}
                                    {% set classe = "rogue" %}
                                {% elseif classidItem.vars.value == 3 %}
                                    {% set classe = "paladin" %}
                                {% elseif classidItem.vars.value == 4 %}
                                    {% set classe = "hunt" %}
                                {% elseif classidItem.vars.value == 5 %}
                                    {% set classe = "mage" %}
                                {% elseif classidItem.vars.value == 6 %}
                                    {% set classe = "demoniste" %}
                                {% elseif classidItem.vars.value == 7 %}
                                    {% set classe = "priest" %}
                                {% else %}
                                    {% set classe = "drood" %}
                                {% endif %}

                                {{ form_widget(classidItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': classidItem.vars.value } }) }}
                                <label for="appbundle_usercharacter_classid_{{ classidItem.vars.value }}" class="label_item"> <img class="img-form" src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}"> </label>
                            {% endfor %}
                            <div class="alert-danger">{{ form_errors(form.classid) }}</div>
                        </div>

                        {# ROLE #}
                        <div class="form-app-radio-input" id="form-app-role">
                            <div class="form-app-label">{{ form.characterfavouriteroleid.vars.label }}</div>
                            {% for key, characterfavouriteroleidItem in form.characterfavouriteroleid.children %}
                                {% if characterfavouriteroleidItem.vars.value == 1 %}
                                    {% set role = "tank" %}
                                {% elseif characterfavouriteroleidItem.vars.value == 2 %}
                                    {% set role = "heal" %}
                                {% else %}
                                    {% set role = "dps" %}
                                {% endif %}

                                {{ form_widget(characterfavouriteroleidItem, { 'attr': {'class': 'app-form-radio-selector radio_item', 'id': characterfavouriteroleidItem.vars.value } }) }}
                                <label for="appbundle_usercharacter_characterfavouriteroleid_{{ characterfavouriteroleidItem.vars.value }}" class="label_item"> <img class="img-form" src="{{ asset('img/roles/' ~ role ~ '.png') }}"> </label>
                            {% endfor %}
                            <div class="alert-danger">{{ form_errors(form.characterfavouriteroleid) }}</div>
                        </div>

                        <br /><br />
                        <div class="box box-info" style="margin-bottom: 0px!important;">
                            <div class="box-header with-border" style="text-align: center;">
                                <h3 class="box-title">
                                    Champs optionnels
                                </h3>
                            </div>
                        </div>

                        {% if form.main is defined %}
                            {{ form_widget(form.main, { 'attr': {'class': 'form-control' } }) }}
                            <div class="alert-danger">{{ form_errors(form.main) }}</div>
                        {% endif %}

                        {{ form_widget(form.job, { 'attr': {'class': 'form-control', 'placeholder': 'Métiers du personnage' } }) }}
                        <div class="alert-danger">{{ form_errors(form.job) }}</div>

                        {{ form_widget(form.history, { 'attr': {'class': 'form-control', 'placeholder': '[RP] Histoire du personnage' } }) }}
                        <div class="alert-danger">{{ form_errors(form.history) }}</div>

                        {{ form_rest(form) }}

                    </div>
                    <div>
                        <input class="btn btn-lg bg-navy btn-flat btn-block" type="submit" value="{{ "Créer le personnage" }}"
                               onClick="this.disabled=true; this.value='Création du personnage en cours…'; this.form.submit();">
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
