{% extends 'base.html.twig' %}

{% block body %}
    <h1>Character</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{% if character.sexe %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Main</th>
                <td>{% if character.main %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{% if character.dateupdate %}{{ character.dateupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usercharacter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usercharacter_edit', { 'id': character.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
