{% extends 'base.html.twig' %}

{% block title %}
    404 ERROR ! - Reset était fatigué ce jour là, faut pas lui en vouloir ...
{% endblock %}

{% block body %}
    <img src="{{ asset('img/DoC1f6p-world-of-warcraft-background.jpg') }}" style="width: 100%;"/>
{% endblock %}
