{% extends 'base.html.twig' %}

{% block title %}
    ERROR ! - mmmmh c'est pas normal, veuillez contacter Reset ...
{% endblock %}

{% block body %}
    <img src="{{ asset('img/DoC1f6p-world-of-warcraft-background.jpg') }}" style="width: 100%;"/>
{% endblock %}
