{% extends 'base.html.twig' %}

{% block title %}
    Édition d'événement
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-danger form-app">
                <div class="box-header with-border" style="text-align: center;">
                    <h3 class="box-title">
                        Champs obligatoires
                    </h3>
                </div>

                <form action="{{ path('event_edit', { 'id': event.id }) }}" method="POST">
                    <div class="form-group" id="fos_user_registration_form">
                        {{ form_widget(edit_form.eventtypeid, { 'attr': {'class': 'form-control', 'placeholder': "Type d'événement" } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.eventtypeid) }}</div>

                        {{ form_widget(edit_form.place, { 'attr': {'class': 'form-control', 'placeholder': 'Lieu' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.place) }}</div>

                        {{ form_widget(edit_form.datestart, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'Date et heure de début' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.datestart) }}</div>

                        <br /><br />
                        <div class="box box-info" style="margin-bottom: 0px!important;">
                            <div class="box-header with-border" style="text-align: center;">
                                <h3 class="box-title">
                                    Champs optionnels
                                </h3>
                            </div>
                        </div>

                        {{ form_widget(edit_form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.title) }}</div>

                        {{ form_widget(edit_form.dateend, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'Date et heure de fin' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.dateend) }}</div>

                        {{ form_widget(edit_form.minlevel, { 'attr': {'class': 'form-control', 'placeholder': 'Lvl minimum' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.minlevel) }}</div>

                        {{ form_widget(edit_form.maxlevel, { 'attr': {'class': 'form-control', 'placeholder': 'Lvl maximum' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.maxlevel) }}</div>

                        {{ form_widget(edit_form.condition, { 'attr': {'class': 'form-control', 'placeholder': 'Conditions requises' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.condition) }}</div>

                        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control', 'placeholder': "Description de l'événement" } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.description) }}</div>

                        {{ form_widget(edit_form.strategylink, { 'attr': {'class': 'form-control', 'placeholder': 'Liens sur la stratégie' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.strategylink) }}</div>

                        {{ form_rest(edit_form) }}

                    </div>
                    <div>
                        <input class="btn btn-lg bg-navy btn-flat btn-block" type="submit" value="{{ "Modifier l'événement" }}"
                               onClick="this.disabled=true; this.value='Édition en cours…'; this.form.submit();">
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
