{% extends 'base.html.twig' %}

{% block title %}
    Liste des événements
{% endblock %}

{% block body %}
    {% if events is defined %}

        <div class="app-event-list">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-blue info-type-event">
                    <span class="small-box-footer">PVE (Hors raid)</span>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-navy info-type-event">
                    <span class="small-box-footer">PVE (Raid)</span>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red info-type-event">
                    <span class="small-box-footer">PVP</span>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow info-type-event">
                    <span class="small-box-footer">Événements spéciaux</span>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <div class="row">
        {% for event in events %}
            {% set cptevent = 0 %}
            {# CONDITIONS TYPE D'EVENEMENT #}
            {#PVE hors raid #}
            {% if event.eventtypeid.id in [1,2,3,8] %}
                {% set typeevent = "PVE" %}
                {% set color = "blue" %}

            {#PVE raid #}
            {% elseif event.eventtypeid.id in [4,5] %}
                {% set typeevent = "PVE" %}
                {% set color = "navy" %}

            {#PVP#}
            {% elseif event.eventtypeid.id in [6,7,9] %}
                {% set typeevent = "PVP" %}
                {% set color = "red" %}

            {% else %}
                {% set typeevent = "Spécial" %}
                {% set color = "yellow" %}
            {% endif %}


            <div class="col-md-12">
                <div class="box collapsed-box"><!--collapsed-box-->
                    <div class="box-header with-border" style="padding-top: 0px; padding-left: 0px;">
                        <!-- TODO ICI INFOS PRINCIPALES -->

                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="pad box-pane-left bg-{{ color }}" style="min-height: 280px">
                                        <div class="description-block">
                                            <h5 class="description-header">Type d'événement :</h5>
                                            <span class="description-text">{{ typeevent }}</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block">
                                            <div class="sparkbar pad" data-color="#fff"><canvas width="34" height="30" style="display: inline-block; width: 34px; height: 30px; vertical-align: top;"></canvas></div>
                                            <h5 class="description-header">Photo :</h5>
                                            <span class="description-text">Manquante</span>
                                        </div>
                                        <!-- /.description-block -->
                                        <div class="description-block">
                                            <div class="sparkbar pad" data-color="#fff"><canvas width="34" height="30" style="display: inline-block; width: 34px; height: 30px; vertical-align: top;"></canvas></div>
                                            <h5 class="description-header">Lieu :</h5>
                                            <span class="description-text">{{ event.place }}</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4 col-sm-4 app-event-list-text-column app-event-list-column-text" style="border-right: 2px solid #f4f4f4;">
                                    {% if event.title %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field">Titre de l'événement :</span><br/>
                                            <span class="app-event-list-value-field">{{ event.title }}</span>
                                        </div>
                                    {% endif %}
                                    {% if event.authorid.nickname %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field">Auteur de l'événement :</span><br/>
                                            <span class="app-event-list-value-field">{{ event.authorid.nickname }}</span>
                                        </div>
                                    {% endif %}
                                    {#{% if event.responsableid.nickname %}#}
                                        {#<div class="pad">#}
                                            {#<span class="app-event-list-title-field">Responsable de l'événement :</span><br/>#}
                                            {#<span class="app-event-list-value-field">{{ event.responsableid.nickname }}</span>#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                    {% if event.minlevel %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field">Niveau de personnage minimum : {{ event.minlevel }}</span><br/>
                                        </div>
                                    {% endif %}

                                    {% if event.maxlevel %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field">Niveau de personnage maximum : {{ event.maxlevel }}</span><br/>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-4 col-sm-4 app-event-list-text-column">
                                    {#{% TODO ICI LES COMPTES A REBOURS %}#}
                                    {% if event.datestart %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field app-event-list-important-text">
                                                {% if event.dateend %}
                                                    {% if (event.datestart|date('d/m/Y H:i') <= 'now'|date('d/m/Y H:i')) and (event.dateend|date('d/m/Y H:i') > 'now'|date('d/m/Y H:i'))   %}
                                                        <br/>
                                                        <span class="label label-success font-xx-large">EN COURS</span>
                                                        <br/>
                                                        <br/>
                                                    {% endif %}
                                                {% endif %}
                                            </span>

                                            <span class="app-event-list-title-field app-event-list-important-text">Nombre d'inscrits inscrits :</span>
                                            <span class="app-event-list-value-field app-event-list-important-text">{{ event.participations|length }}</span>
                                            <br/>
                                            <br/>

                                            <span class="app-event-list-title-field app-event-list-important-text">Commence le :</span><br/>
                                            <span class="app-event-list-value-field app-event-list-important-text">{{ event.datestart|date('d/m/Y H:i') }}</span>
                                        </div>
                                    {% endif %}
                                    {% if event.dateend %}
                                        <div class="pad">
                                            <span class="app-event-list-title-field">Fini le :</span><br/>
                                            <span class="app-event-list-value-field">{{ event.dateend|date('d/m/Y H:i') }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->


                        <!-- FIN TODO ICI INFOS PRINCIPALES -->
                        <div class="box-tools pull-right">
                            <!-- TODO SHOW ici -->
                            {#<a href="" type="button" class="btn btn-box-tool"><i class="fa fa-search"></i></a>#}
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-wrench"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a></li>
                                    <li><a href="#">Supprimer</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div class="row">
                            {% if (event.condition) or (event.description) or (event.strategylink) %}
                                <div class="col-md-12 col-sm-12">
                                    <span class="app-event-list-title-field label label-info">Infos supplémentaires</span>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                {% if event.condition %}
                                    <h5 class="app-event-list-title-field">
                                        Conditions :
                                        <p class="app-event-list-textarea-field">
                                            {{ event.condition }}
                                        </p>
                                    </h5>
                                {% endif %}

                                {% if event.description %}
                                    <h5 class="app-event-list-title-field">
                                        Description :
                                        <p class="app-event-list-textarea-field">
                                            {{ event.description }}
                                        </p>
                                    </h5>
                                {% endif %}

                                {% if event.strategylink %}
                                    <h5 class="app-event-list-title-field">
                                        Conditions :
                                        <p class="app-event-list-textarea-field">
                                            {{ event.strategylink }}
                                        </p>
                                    </h5>
                                {% endif %}
                                    <!-- /.chart-responsive -->
                                </div>
                            {% endif %}

                            {#{% if participants %}#}
                            <div class="col-md-12 col-sm-12 border-top-box">
                                <span class="app-event-list-title-field label label-success">Participants</span>
                            </div>

                            {% set cpt = 0 %}

                            {% for participant in event.participations %}
                                {% if participant.chosenroleid.id == 1 %}
                                    {% set role = "tank" %}
                                {% elseif participant.chosenroleid.id == 2 %}
                                    {% set role = "heal" %}
                                {% else %}
                                    {% set role = "dps" %}
                                {% endif %}

                                {% if  participant.characterid.classid.id == 1 %}
                                    {% set classe = "warrior" %}
                                {% elseif participant.characterid.classid.id == 2 %}
                                    {% set classe = "rogue" %}
                                {% elseif participant.characterid.classid.id == 3 %}
                                    {% set classe = "paladin" %}
                                {% elseif participant.characterid.classid.id == 4 %}
                                    {% set classe = "hunt" %}
                                {% elseif participant.characterid.classid.id == 5 %}
                                    {% set classe = "mage" %}
                                {% elseif participant.characterid.classid.id == 6 %}
                                    {% set classe = "demoniste" %}
                                {% elseif participant.characterid.classid.id == 7 %}
                                    {% set classe = "priest" %}
                                {% else %}
                                    {% set classe = "drood" %}
                                {% endif %}

                                    {% if cpt is divisible by(40) %}
                                        {% if cpt == 0 %}
                                            <div class="col-md-12 form-app-medium">
                                        {% else %}
                                            </div>
                                            <div class="col-md-12 form-app-medium">
                                        {% endif %}
                                    {% endif %}

                                    {% if cpt is divisible by(5) %}
                                         {% if cpt == 0 %}
                                            <div class="col-md-3 col-sm-6">
                                         {% else %}
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                         {% endif %}
                                    {% endif %}
                                        <span class="partcipant-info-event">
                                             <img class="img-form" src="{{ asset('img/roles/' ~ role ~ '.png') }}">
                                            <img class="img-form" src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}">
                                            {{ participant.characterid.charactername }}
                                            <strong>(lvl {{ participant.characterid.level }})</strong>
                                         </span><br/>
                                        {% set cpt = cpt + 1 %}
                            {% endfor %}
                                    </div>

                            {#<div class="row">#}
                                {#<div class="col-md-3 col-sm-6">tatata</div>#}
                            {#</div>#}

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./box-body -->

                    <div class="box-header with-border">
                        <div class="row">
                            <!-- Bouton inscription/désinscription -->
                            <div class="col-md-12 col-sm-12 button-subscription">
                                {% if event.isUserSubscribed %}
                                    <a href="{{ path('eventparticipation_removeparticipant', { 'id' : event.id}) }}" class="btn btn-block btn-danger btn-sm clickOnceButton">Me désinscrire
                                        {% if event.participations|length > 0 %}
                                            ({{ event.participations|length }} inscrits)
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#modalInscriptionEvent{{ event.id }}">M'inscrire
                                        {% if event.participations|length > 0 %}
                                            ({{ event.participations|length }} inscrits)
                                        {% endif %}
                                    </button>
                                {% endif %}

                                <!-- Modal -->
                                <div class="modal fade" id="modalInscriptionEvent{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    {% if event.title %}
                                                        Inscription à "{{ event.title }}"
                                                    {% else %}
                                                        Inscription à l'événement
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ path('eventparticipation_addparticipant', { 'id' : event.id}) }}" method="POST">
                                                    <div class="form-group">
                                                        <div class="form-app-radio-input" id="form-app-role">
                                                            <div class="form-app-label">{{ form.chosenroleid.vars.label }} :</div>
                                                            {% for key, chosenroleidItem in form.chosenroleid.children %}
                                                                {% if chosenroleidItem.vars.value == 1 %}
                                                                    {% set role = "tank" %}
                                                                    <input type="radio" class="app-form-radio-selector radio_item" id="selectorrole1_{{ event.id }}" value="1" name="selectorrole" required />
                                                                    <label for="selectorrole1_{{ event.id }}" class="form-app-big-round label_item"> <img class="img-form" src="{{ asset('img/roles/tank.png') }}"> </label>
                                                                {% elseif chosenroleidItem.vars.value == 2 %}
                                                                    {% set role = "heal" %}
                                                                    <input type="radio" class="app-form-radio-selector radio_item" id="selectorrole2_{{ event.id }}" value="2" name="selectorrole" required />
                                                                    <label for="selectorrole2_{{ event.id }}" class="form-app-big-round label_item"> <img class="img-form" src="{{ asset('img/roles/heal.png') }}"> </label>
                                                                {% else %}
                                                                    {% set role = "dps" %}
                                                                    <input type="radio" class="app-form-radio-selector radio_item" id="selectorrole3_{{ event.id }}" value="3" name="selectorrole" required />
                                                                    <label for="selectorrole3_{{ event.id }}" class="form-app-big-round label_item"> <img class="img-form" src="{{ asset('img/roles/dps.png') }}"> </label>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <div class="alert-danger">{{ form_errors(form.chosenroleid) }}</div>
                                                        </div>

                                                        <div class="form-app-radio-input" id="form-app-character">
                                                            <div class="form-app-label">Personnage à inscrire :</div>
                                                            {% set compteur = 0 %}
                                                            {% for key, characteridItem in form.characterid.children %}
                                                                {# GET CHARACTER RACE FOR IMAGE #}
                                                                {% if usercharacters[compteur].sexe == true %}
                                                                    {% if usercharacters[compteur].raceid.id == 1 %}
                                                                        {% set race = "human" %}
                                                                    {% elseif usercharacters[compteur].raceid.id == 2 %}
                                                                        {% set race = "dwarf" %}
                                                                    {% elseif usercharacters[compteur].raceid.id == 3 %}
                                                                        {% set race = "gnom" %}
                                                                    {% else %}
                                                                        {% set race = "elf" %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if usercharacters[compteur].raceid.id == 1 %}
                                                                        {% set race = "humanette" %}
                                                                    {% elseif usercharacters[compteur].raceid.id == 2 %}
                                                                        {% set race = "dwarfette" %}
                                                                    {% elseif usercharacters[compteur].raceid.id == 3 %}
                                                                        {% set race = "gnomette" %}
                                                                    {% else %}
                                                                        {% set race = "elfette" %}
                                                                    {% endif %}
                                                                {% endif %}

                                                                {# GET usercharacters[compteur] CLASS FOR IMAGE #}
                                                                {% if usercharacters[compteur].classid.id == 1 %}
                                                                    {% set classe = "warrior" %}
                                                                {% elseif usercharacters[compteur].classid.id == 2 %}
                                                                    {% set classe = "rogue" %}
                                                                {% elseif usercharacters[compteur].classid.id == 3 %}
                                                                    {% set classe = "paladin" %}
                                                                {% elseif usercharacters[compteur].classid.id == 4 %}
                                                                    {% set classe = "hunt" %}
                                                                {% elseif usercharacters[compteur].classid.id == 5 %}
                                                                    {% set classe = "mage" %}
                                                                {% elseif usercharacters[compteur].classid.id == 6 %}
                                                                    {% set classe = "demoniste" %}
                                                                {% elseif usercharacters[compteur].classid.id == 7 %}
                                                                    {% set classe = "priest" %}
                                                                {% else %}
                                                                    {% set classe = "drood" %}
                                                                {% endif %}

                                                                {# GET CHARACTER LIKED ROLE for color #}
                                                                {% set colorbyrole = '' %}
                                                                {% if usercharacters[compteur].characterfavouriteroleid.id == 1 %}
                                                                    {% set colorbyrole = "aqua" %}
                                                                {% elseif usercharacters[compteur].characterfavouriteroleid.id == 2 %}
                                                                    {% set colorbyrole = "green" %}
                                                                {% else %}
                                                                    {% set colorbyrole = "red" %}
                                                                {% endif %}

                                                                <input type="radio" class="app-form-radio-selector radio_item" id="character_{{ characteridItem.vars.value }}_{{ event.id }}" value="{{ characteridItem.vars.value }}" name="character" required />
                                                                <label for="character_{{ characteridItem.vars.value }}_{{ event.id }}" class="form-app-medium app-form-subscription-character-box label_item ">
                                                                    <div class="info-box bg-{{ colorbyrole }} app-form-subscription-character">
                                                                        <span class="info-box-icon form-app-big" style="min-height: 100px!important;">
                                                                            <img class="img-form" src="{{ asset('img/classes/' ~ classe ~ 'Icone.png') }}">
                                                                        </span>

                                                                        <div class="info-box-content">
                                                                            <span class="info-box-tex form-app-medium"><img class="img-form" src="{{ asset('img/races/' ~ race ~ 'Icone.png') }}"></span>
                                                                            <span class="info-box-number">{{ usercharacters[compteur].charactername }}</span>

                                                                            <div class="progress">
                                                                                {% set progress = (usercharacters[compteur].level / 60 *100)|round %}
                                                                                <div class="progress-bar" style="width: {{ progress }}%"></div>
                                                                            </div>
                                                                            <span class="progress-description">
                                                                            Niveau {{ usercharacters[compteur].level }}
                                                                          </span>
                                                                        </div>
                                                                        <!-- /.info-box-content -->
                                                                    </div>
                                                                </label>
                                                                {% set compteur = compteur + 1 %}
                                                                <div class="alert-danger">{{ form_errors(form.characterid) }}</div>
                                                            {% endfor %}
                                                        </div>



                                                    </div>
                                                    <input class="btn btn-lg bg-navy btn-flat btn-block" type="submit" value="{{ "S'inscrire" }}"
                                                           onClick="this.disabled=true; this.value='Inscription en cours…'; this.form.submit();">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- TODO ICI INSCRIPTION -->
                    </div>
                    <!-- /.box-header -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            </div>

            {% set cptevent = cptevent + 1 %}
        {% endfor %}
        </div>

        {% else %}
            <div class="row">
            <div class="col-md-4 col-sm-2"></div>
            <div class="col-md-4 col-sm-8">
                <a href="{{ path('event_new') }}" class="btn btn-app">
                    <i class="fa fa-edit"></i> Proposer un événement
                </a>
            </div>
            <div class="col-md-4 col-sm-2"></div>
        </div>
        {% endif %}
{% endblock %}