{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Eventtypeid</th>
                <td>{{ event.eventtypeid }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ event.place }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if event.datestart %}{{ event.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if event.dateend %}{{ event.dateend|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{ event.condition }}</td>
            </tr>
            <tr>
                <th>Minlevel</th>
                <td>{{ event.minlevel }}</td>
            </tr>
            <tr>
                <th>Maxlevel</th>
                <td>{{ event.maxlevel }}</td>
            </tr>
            <tr>
                <th>Strategylink</th>
                <td>{{ event.strategylink }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if event.datecreation %}{{ event.datecreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
