{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" method="POST">
    <div class="form-group" id="fos_user_registration_form">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.email) }}</div>

        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.username) }}</div>

        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.plainPassword.first) }}</div>

        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.plainPassword.second) }}</div>

        {{ form_rest(form) }}

    </div>
    <div>
        <input class="btn btn-lg btn-perso btn-block" type="submit" value="{{ 'registration.submit'|trans }}"
               onClick="this.disabled=true; this.value='Inscription en cours…'; this.form.submit();">
    </div>
</form>

