{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-grid.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/full.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fosuser.css') }}" />
        <link rel="stylesheet" media="screen and (min-device-width: 700px)" href="{{ asset('css/fosuser_laptop.css') }}" />
        <link rel="stylesheet" media="screen and (max-device-width: 699px)" href="{{ asset('css/fosuser_mobile.css') }}" />

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="video_gif">
            <video autoplay loop poster="{{ asset('img/photo_IE_background.png') }}" id="bgvid">
                <source src="{{ asset('img/NoobsMP4.mp4') }}" type="video/mp4">
            </video>
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {# 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') #}{# |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#</a>#}
            {#{% else %}#}
                {# <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
            {#{% endif %}#}
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="fosuser_logo_title_zone row">
            <!-- NOTHING -->
            <div class="col-2"></div>

            <!-- TITLE/LOGO -->
            <div class="fosuser_logo_title_zone col-8">
                <div class="fosuser_logo_title_content">
                    <div class="fosuser_logo"><img src="{{ asset("img/logo1.png") }}"></div><br/>
                    <div class="fosuser_title">Noobs Revenge</div>
                </div>
            </div>

            <!-- NOTHING -->
            <div class="col-2">
            </div>
        </div>


        <div class="fosuser_content_zone row">
            <!-- NOTHING -->
            <div class="col-3">
            </div>

            <!-- FORM -->
            <div class="fosuser_content col-6">
                {% block fos_user_content %}

                {% endblock fos_user_content %}
            </div>

            <!-- NOTHING -->
            <div class="col-3"></div>
        </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
