{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" method="POST">
    <div class="form-group" id="fos_user_registration_form">

        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.username) }}</div>

        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
        <div class="alert-danger">{{ form_errors(form.email) }}</div>

        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe actuel'} }) }}
        <div class="alert-danger">{{ form_errors(form.current_password) }}</div>

        {{ form_rest(form) }}

    </div>
    <div>
        <input class="btn btn-lg btn-perso btn-block" type="submit" value="{{ 'Mettre à jour' }}"
               onClick="this.disabled=true; this.value='Inscription en cours…'; this.form.submit();">
    </div>
</form>

