<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo1.png') }}" />
    {# block stylesheets #}
        <link href="{{ asset('js/datetimepicker-master/build/jquery.datetimepicker.min.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/Ionicons/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/adminlte/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/adminlte/dist/css/skins/skin-black.min.css') }}">
        <link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/morris.js/morris.css') }}">
        <link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/jvectormap/jquery-jvectormap.css') }}">
        {#<link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <link rel="stylesheet" href="{{ asset('template/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" media="screen and (min-device-width: 700px)" href="{{ asset('css/app-laptop.css') }}" />
        <link rel="stylesheet" media="screen and (max-device-width: 699px)" href="{{ asset('css/app-mobile.css') }}" />
        <link href="{{ asset('js/datetimepicker-master/build/jquery.datetimepicker.min.css') }}" rel="stylesheet"/>

        <!-- personnal -->
        <link rel="stylesheet" href="{{ asset('css/full.css') }}" />
    {# endblock #}
    <!-- JS -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<!--
BODY TAG OPTIONS:
=================
desiblack effect
|---------------------------------------------------------|
| SKINS         | skin-black                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-black                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-black sidebar-mini"><!-- sidebar-collapse -->
<div class="wrapper">
        <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('index') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <img src="{{ asset('img/logo1.png') }}" style="width: 100%;max-width: 45px; height: auto;" class="img-circle" alt="User Image">
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <img src="{{ asset('img/logo1.png') }}" style="width: 100%;max-width: 50px; height: auto;" class="img-circle" alt="User Image">
            </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!--
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">

                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="{# asset('img/anonymous_icone.png') #}" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>

                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <ul class="menu">
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    -->

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{ asset('img/anonymous_icone.png') }}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                {% endif %}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{ asset('img/anonymous_icone.png') }}" class="img-circle" alt="User Image">
                                <p>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ app.user.username }}
                                    {% endif %} <!-- - --><!-- TODO ROLE PREFERE -->
                                    <small><!-- Membre depuis --> <!-- TODO DATE CREATION PROFILE --></small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!--
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                -->
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <!-- TODO EDIT PROFILE, METTRE USERPROFILEID EN SESSION -->
                                {% if print_menu|default(1) == 1 %}
                                    <div class="pull-left">
                                        <a href="{{ path('userprofileid_getprofile', { 'id': app.user.id }) }}" class="btn btn-default btn-flat">Profil</a>
                                    </div>
                                {% endif %}
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-flat">Compte</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
                        <!-- TODO SIDEBAR A UTILISER --> <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel" style="text-align: center;">
                <span style="font-size: large; color: white; font-family: 'starwars';" id="sidebar-panel-title-noobs">Noobs Revenge</span>
                <!--
                <div class="pull-left image">
                    <img src="{# asset('template/adminlte/dist/img/tortured_soul.ico') #}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>

                    </p>

                </div>-->
            </div>

            <!-- search form (Optional) -->
            <!--
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
                </div>
            </form>
            -->
            <!-- /.search form -->

            <!-- HERE MENU -->
            <!-- Sidebar Menu -->
            {% if print_menu|default(1) == 1 %}
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header" style="text-align: center;">
                        <a href="#"><span style="color:white;"><b>{{ app.user.username }}</b></span>
                        <br/><br/>
                        <img src="{{ asset('img/anonymous_icone.png') }}" style="width: 100%;max-width: 45px; height: auto;" class="img-circle" alt="User Image">
                        <br/><br/>
                        <i class="fa fa-circle text-success"  style="margin-left: -20px;"></i> En ligne
                        </a>
                    </li>
                    <!-- TODO class="active" -->
                    <li><a href="{{ path('index') }}"><i class="fa fa-home"></i> <span>Accueil</span></a></li>
                    <!--<li><a href="#"><i class="fa fa-newspaper-o"></i> <span>Actualités</span></a></li>-->
                    <li class="treeview">
                        <a href="#"><i class="fa fa-list"></i> <span>Événements</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('event_index') }}"><b>Tous les événements</b></a></li>
                            {#<li><a href="#">Événements <b>PVE</b></a></li>#}
                            {#<li><a href="#">Événements <b>PVP</b></a></li>#}
                            {#<li><a href="#">Autres Événements</a></li>#}
                            <li><a href="{{ path('event_new') }}">Proposer un événement</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-github-alt"></i> <span>Personnages</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('usercharacter_getall', { 'id': app.user.id }) }}"><b>Mes personnages</b></a></li>
                            <li><a href="{{ path('usercharacter_new') }}"><b>Créer un personnage</b></a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('userprofileid_index') }}"><i class="fa fa-users"></i> <span>Liste des utilisateurs</span></a></li>

                </ul>
            {% endif %}
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% if type == 'danger' %}
                        <div class="box" style="background: rgb(244, 0, 6);">
                    {% elseif type == "warning" %}
                        <div class="box" style="background: rgb(243, 156, 18);">
                    {% else %}
                        <div class="box" style="background: rgb(19, 133, 16);">
                    {% endif %}
                        <div class="box-header">
                            <h3 class="box-title" style="color: white; font-weight: bold;">{{ message }}</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <section class="content-header">
            <h1 style="font-weight: bold; color: white; text-align: center; font-family: 'starwars';">
                {{  block('title') }}
            </h1>
            <hr />
            <small>
                {% block subtitle %}
                {% endblock %}
            </small>
            <!-- TODO BREADCRUMB -->
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
            -->
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <!-- HERE CONTENT -->
            {% block body %}
            <div class="content">
                {#{{ dump() }}#}
            </div>
            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer" style="background-color: black;">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Made with love
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="">Reset</a>.</strong> Tous droits réservés.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="">
                            <i class="menu-icon fa fa-birthday-cake bg-black"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIblack JS SCRIPTS -->
{% block javascripts %}

    <!--<script type="text/javascript" src="{# asset('template/adminlte/bower_components/jquery/dist/jquery.min.js') #}"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('template/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datetimepicker-master/build/jquery.datetimepicker.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('template/adminlte/dist/js/adminlte.min.js') }}"></script>

    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/raphael/raphael.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/morris.js/morris.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/jquery-knob/dist/jquery.knob.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/fastclick/lib/fastclick.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('template/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>#}

    <script>
        //DATEPICKER FORM
        jQuery.datetimepicker.setLocale('fr');
        $('.datepicker').datetimepicker({});

        //SURBRILLANCE SELECTION IMAGES FORM
        $('#form-app-role img.img-form').click(function(){
          $('.selected-role').removeClass('selected-role');
          $(this).addClass('selected-role');
        });

        $('#form-app-classe img.img-form').click(function(){
          $('.selected-classe').removeClass('selected-classe');
          $(this).addClass('selected-classe');
        });

        $('#form-app-race img.img-form').click(function(){
          $('.selected-race').removeClass('selected-race');
          $(this).addClass('selected-race');
        });

        $('#form-app-character .app-form-subscription-character').click(function(){
          $('.selected-character').removeClass('selected-character');
          $(this).addClass('selected-character');
        });

        //BOUTONS CLIQUABLES UNE SEULE FOIS

        $('.clickOnceButton').click(function() {
          $(this).css('pointer-events', 'none');
        });

    </script>
{% endblock %}

</body>
</html>