{% extends 'base.html.twig' %}

{% block title %}
    Édition du profil
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-danger form-app">
                <div class="box-header with-border" style="text-align: center;">
                    <h3 class="box-title">
                        Champs obligatoires
                    </h3>
                </div>

                <form action="{{ path('userprofileid_edit', { 'id': userprofileid.id }) }}" method="POST">
                    <div class="form-group" id="fos_user_registration_form">
                        {{ form_widget(edit_form.nickname, { 'attr': {'class': 'form-control', 'placeholder': "Pseudo du compte" } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.nickname) }}</div>

                        <br /><br />
                        <div class="box box-info" style="margin-bottom: 0px!important;">
                            <div class="box-header with-border" style="text-align: center;">
                                <h3 class="box-title">
                                    Champs optionnels
                                </h3>
                            </div>
                        </div>

                        {{ form_widget(edit_form.professionig, { 'attr': {'class': 'form-control', 'placeholder': 'Profession IG' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.professionig) }}</div>

                        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.description) }}</div>

                        {{ form_widget(edit_form.professionirl, { 'attr': {'class': 'form-control', 'placeholder': 'Profession IRL' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.professionirl) }}</div>

                        {{ form_widget(edit_form.personnalwebsite, { 'attr': {'class': 'form-control', 'placeholder': 'Site Web personnel' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.personnalwebsite) }}</div>

                        {{ form_widget(edit_form.favouritemusic, { 'attr': {'class': 'form-control', 'placeholder': 'Musiques préférées/du moment' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.favouritemusic) }}</div>

                        {{ form_widget(edit_form.favouritemovie, { 'attr': {'class': 'form-control', 'placeholder': 'Films préférés/du moment' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.favouritemovie) }}</div>

                        {{ form_widget(edit_form.favouritebook, { 'attr': {'class': 'form-control', 'placeholder': 'Livres préférés/du moment' } }) }}
                        <div class="alert-danger">{{ form_errors(edit_form.favouritebook) }}</div>

                        {{ form_rest(edit_form) }}

                    </div>
                    <div>
                        <input class="btn btn-lg bg-navy btn-flat btn-block" type="submit" value="{{ "Mettre à jour le profil" }}"
                               onClick="this.disabled=true; this.value='Mise à jour en cours…'; this.form.submit();">
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
