{% extends 'base.html.twig' %}

{% block title %}
    Liste des profils utilisateurs
{% endblock %}

{% block body %}
    <div class="box" style="text-align: center;">
        <div class="box-header">
            {#<h3 class="box-title">Data Table With Full Features</h3>#}
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                {#<div class="row">#}
                    {#<div class="col-sm-6">#}
                        {#<div class="dataTables_length" id="example1_length"><label>Montrer#}
                                {#<select name="example1_length" aria-controls="example1" class="form-control input-sm">#}
                                    {#<option value="10">10</option>#}
                                    {#<option value="25">25</option>#}
                                    {#<option value="50">50</option>#}
                                    {#<option value="100">100</option>#}
                                {#</select> profils </label></div>#}
                    {#</div>#}
                    {#<div class="col-sm-6">#}
                        {#<div id="example1_filter" class="dataTables_filter"><label>Recherche:#}
                                {#<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th class="tab-app">Ordre</th>
                                    <th class="sorting_asc tab-app" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Pseudo: activate to sort column descending">Pseudo
                                    </th>
                                    <th class="sorting tab-app" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Date de création: activate to sort column ascending">
                                        Date de création
                                    </th>
                                    <th class="sorting tab-app" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Date de modification: activate to sort column ascending">
                                        Date de modification
                                    </th>
                                    <th class="tab-app" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Détail profil
                                    </th>
                                    <th class="sorting tab-app" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        Détail personnages
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set even = 0 %}
                                {% for userprofileid in userprofileids %}
                                    {% if even % 2 == 0 %}
                                        {% set class = "odd" %}
                                    {% else %}
                                        {% set class = "even" %}
                                    {% endif %}
                                    <tr role="row" class="{{ class }}">
                                        {#<td>{{ userprofileid.imagepath }}</td>#}
                                        <td><a href="{{ path('userprofileid_show', { 'id': userprofileid.id }) }}">{{ userprofileid.id }}</a>
                                        </td>
                                        <td>{{ userprofileid.nickname }}</td>
                                        <td>{% if userprofileid.datecreation %}{{ userprofileid.datecreation|date('d/m/Y H:i') }}{% endif %}</td>
                                        <td>{% if userprofileid.dateupdate %}{{ userprofileid.dateupdate|date('d/m/Y H:i') }}{% endif %}</td>
                                        <td><a href="{{ path('userprofileid_show', { 'id': userprofileid.id }) }}"><i class="fa fa-fw fa-search"></i></a></td>
                                        <td><a href="{{ path('usercharacter_getall', { 'id': userprofileid.userid.id }) }}"><i class="fa fa-fw fa-users"></i></a></td>
                                    </tr>
                                    {% set even = even + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="col-sm-5">#}
                        {#<div class="dataTables_info" id="example1_info" role="status" aria-live="polite"> TODO </div>#}
                    {#</div>#}
                    {#<div class="col-sm-7">#}
                        {#<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">#}
                            {#<ul class="pagination">#}
                                {#<li class="paginate_button previous disabled" id="example1_previous"><a href="#"#}
                                                                                                        {#aria-controls="example1"#}
                                                                                                        {#data-dt-idx="0"#}
                                                                                                        {#tabindex="0">Précédent</a>#}
                                {#</li>#}
                                {#<li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1"#}
                                                                      {#tabindex="0">1</a></li>#}
                                {#<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2"#}
                                                                {#tabindex="0">2</a></li>#}
                                {#<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3"#}
                                                                {#tabindex="0">3</a></li>#}
                                {#<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4"#}
                                                                {#tabindex="0">4</a></li>#}
                                {#<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5"#}
                                                                {#tabindex="0">5</a></li>#}
                                {#<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6"#}
                                                                {#tabindex="0">6</a></li>#}
                                {#<li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1"#}
                                                                                       {#data-dt-idx="7"#}
                                                                                       {#tabindex="0">Suivant</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
