{% extends 'base.html.twig' %}
{% set print_menu = 0 %}

{% block title %}
    Création d'un profil
{% endblock %}

{% block body %}

    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box box-danger form-app">
                    <div class="box-header with-border" style="text-align: center;">
                        <h3 class="box-title">
                            Champs obligatoires
                        </h3>
                    </div>

                    <form action="{{ path('userprofileid_new') }}" method="POST">
                        <div class="form-group" id="fos_user_registration_form">
                            {{ form_widget(form.nickname, { 'attr': {'class': 'form-control', 'placeholder': "Pseudo du compte" } }) }}
                            <div class="alert-danger">{{ form_errors(form.nickname) }}</div>

                            <br /><br />
                            <div class="box box-info" style="margin-bottom: 0px!important;">
                                <div class="box-header with-border" style="text-align: center;">
                                    <h3 class="box-title">
                                        Champs optionnels
                                    </h3>
                                </div>
                            </div>

                            {{ form_widget(form.professionig, { 'attr': {'class': 'form-control', 'placeholder': 'Profession IG' } }) }}
                            <div class="alert-danger">{{ form_errors(form.professionig) }}</div>

                            {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description' } }) }}
                            <div class="alert-danger">{{ form_errors(form.description) }}</div>

                            {{ form_widget(form.professionirl, { 'attr': {'class': 'form-control', 'placeholder': 'Profession IRL' } }) }}
                            <div class="alert-danger">{{ form_errors(form.professionirl) }}</div>

                            {{ form_widget(form.personnalwebsite, { 'attr': {'class': 'form-control', 'placeholder': 'Site Web personnel' } }) }}
                            <div class="alert-danger">{{ form_errors(form.personnalwebsite) }}</div>

                            {{ form_widget(form.favouritemusic, { 'attr': {'class': 'form-control', 'placeholder': 'Musiques préférées/du moment' } }) }}
                            <div class="alert-danger">{{ form_errors(form.favouritemusic) }}</div>

                            {{ form_widget(form.favouritemovie, { 'attr': {'class': 'form-control', 'placeholder': 'Films préférés/du moment' } }) }}
                            <div class="alert-danger">{{ form_errors(form.favouritemovie) }}</div>

                            {{ form_widget(form.favouritebook, { 'attr': {'class': 'form-control', 'placeholder': 'Livres préférés/du moment' } }) }}
                            <div class="alert-danger">{{ form_errors(form.favouritebook) }}</div>

                            {{ form_rest(form) }}

                        </div>
                        <div>
                            <input class="btn btn-lg bg-navy btn-flat btn-block" type="submit" value="{{ "Enregistrer le profil" }}"
                                   onClick="this.disabled=true; this.value='Enregistrement en cours…'; this.form.submit();">
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
{% endblock %}
