{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ userprofileid.nickname }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-primary" style="text-align: center;">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{{ asset('img/anonymous_icone.png') }}" alt="User profile picture">

                    <h3 class="profile-username text-center">{{ userprofileid.nickname }}</h3>

                    <ul class="list-group list-group-unbordered">

                        {% if userprofileid.datecreation %}
                            <li class="list-group-item">
                                <b>Date de création du profile :</b> <span>{{ userprofileid.datecreation|date('Y-m-d H:i:s') }}</span>
                            </li>
                        {% endif %}

                        {% if userprofileid.dateupdate %}
                            <li class="list-group-item">
                                <b>Dernière mise à jour :</b> <span>{{ userprofileid.dateupdate|date('Y-m-d H:i:s') }}</span>
                            </li>
                        {% endif %}

                        {% if userprofileid.professionig %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Profession IG :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.professionig }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.professionirl %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Profession IRL :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.professionirl }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.personnalwebsite %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Site web personnel :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.personnalwebsite }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.description %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Description personnelle :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.description }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.favouritemusic %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Musiques du moment/préférées :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.favouritemusic }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.favouritemovie %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Films du moment/préférés :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.favouritemovie }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                        {% if userprofileid.favouritebook %}
                            <li class="list-group-item">
                                <div class="attachment">
                                    <h4>Livres du moment/préférés :</h4>

                                    <p class="form-app-show-textarea">
                                        {{ userprofileid.favouritebook }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>

                    <a href="{{ path('userprofileid_edit', { 'id': userprofileid.id }) }}" class="btn btn-primary btn-block"><b>Mettre à jour</b></a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}
