body {

    background-color: transparent!important;
    background: url(../img/mobile_fosuser_background_alliance_V2.jpg) no-repeat;
    background-size: cover;
}

/******** EVENTS *****/
.app-event-list .box-tools .fa {
    color: black;
}

.app-event-list .box-pane-left {
    padding-top: 40px;
}

.info-type-event {
    min-height: 56px;
}