body {

    background-color: transparent!important;
    background: url(../img/mobile_fosuser_background_alliance_V2.jpg) no-repeat;
    background-size: cover;
}

.sidebar-collapse #sidebar-panel-title-noobs {
    display: none;
}

/** EVENTS **/
.app-event-list-column-text {
    min-height: 280px;
}

.app-event-list-text-column {
    padding-top: 25px;
}