/****** /!\ CSS USED FOR ALL FOSUSER TEMPLATES IN THIS WEBSITE /!\ *****/
html {
    width: 99%;
    height: 100%;
}

body {
    height: 100%;
}

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(../img/photo_IE_background.png) no-repeat;
    background-size: cover;
}

.btn-perso{
    color: #F1C52A;
    background-color: #000044;
    border-color: #000044;
    cursor: pointer;
}


.fosuser_content {
    text-align: center;
}

.fosuser_logo img{
    margin-left: 15px;
}

.fosuser_logo_title_zone {
    text-align: center;
}

.fosuser_title {
    font-family: 'starwars';
}

.fosuser_logo {

}

