.fosuser_logo_title_zone {
    height: 55%;
}

.fosuser_content_zone input{
    text-align: center;
    color: #000044;
    font-weight: bold;
    margin: 10px;
}

.fosuser_title {
    color: #F1C52A;
    font-size: 2.5em;
    text-shadow: 3px 2px #000044;
}

.fosuser_logo {

}

.fosuser_form_label{
    font-weight: bold;
    color: #F1C52A;
    font-size: x-large;
    cursor: pointer;
    text-shadow: 3px 2px #000044;
}

.fosuser_form_input_checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.btn-perso {
    font-weight: bold;
    color: #F1C52A!important;
}