{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le nouveau site de la guilde Noobs Revenge !
{% endblock %}

{% block body %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div style="text-align: center; ">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 90%; margin-left: 5%;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('img/diapo site.png') }}" alt="Nouveau-site-Bienvenue" style="width:100%;">
                </div>

                <div class="item">
                    <a href="/event/"><img src="{{ asset('img/lien_liste_evenements.png') }}" alt="Liste-evenements" style="width:100%;"></a>
                </div>

                <div class="item">
                    <img src="{{ asset('img/citation_maleterres.png') }}" alt="Citation-maleterres" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        {#<img src="{{ asset('img/photo2_retouchee.png') }}" style="width: 100%;"/>#}
    </div>
{% endblock %}
